* {
    font-family: 'Poppins', sans-serif;
}


/*---------- Header menu ----------*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 1000;
    padding: 1rem 1rem;
}

.navbar {
    height: 30px;
    padding-top: 10px;
}

.navbar-brand {
    font-size: medium;
    letter-spacing: 2px;
}

.navbar-nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: large;
}

.nav-item {
    width: 20%;
}

.dropdown-menu {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    width: 150%;
}

.dropdown-menu .nav-link {
    color: rgba(255, 255, 255, .5) !important;
}

.dropdown-menu .nav-link:hover {
    color: white !important;
}

header.sticky {
    background-color: #ba9a69;
    width: 100%;
}

header.sticky .dropdown-menu {
    background-color: #ba9a69;
}

.navbar-toggler {
    margin-top: -5%;
}


/*---------- nav media queries ----------*/

@media screen and (max-width: 1260px) {
    .navbar-nav {
        width: 80%;
    }
}

@media screen and (max-width: 1130px) {
    .navbar-nav {
        width: 90%;
    }
}

@media screen and (max-width: 1030px) {
    .navbar-nav {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        width: 100%;
        height: 100vh;
        background-color: #ba9a69;
        padding-bottom: 20%;
        margin: 0px;
    }
    .nav-item {
        width: 100%;
        text-align: center;
    }
    .nav-item a {
        visibility: hidden;
    }
    .nav-item a i {
        visibility: visible;
        margin: 0;
        font-size: 2em;
    }
}


/*---------- Redes sociales ----------*/

.redes {
    position: fixed;
    left: 0%;
    display: flex;
    flex-direction: column;
    z-index: 3;
    top: 35%;
}

.redes a {
    color: white;
    opacity: 30%;
    font-size: 2em;
}

aside.sticky a {
    color: #374e2f;
    opacity: 100%;
}

.redes a:hover {
    color: #ba9a69;
}


/*---------- Header ----------*/

.imagenHeader {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenHeader:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
}

.imagenHeader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color;
    z-index: 3;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: relative;
    color: white;
    text-shadow: 2px 2px 40px black;
    font-size: 9em;
    z-index: 1;
    font-weight: bold;
    opacity: 80%;
    text-align: center;
    margin: 7% 0% 0% 5%;
    font-family: 'Raleway', sans-serif;
}

#avion {
    z-index: 2;
}

.arrow-down {
    position: absolute;
    font-size: 3em;
    color: white;
    z-index: 3;
    top: 83%;
    width: 100%;
    text-align: right;
}

.cta {
    margin-bottom: 2%;
    margin-right: 5%;
    font-size: 0.3em;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.fas {
    margin-right: 9%;
}

.animate__slideInDown {
    -webkit-animation-iteration-count: infinite;
}


/*---------- h1 media queries ---------*/

@media screen and (max-width: 1280px) {
    #text {
        font-size: 7em;
    }
}

@media screen and (max-width: 1150px) {
    #text {
        font-size: 6em;
    }
}

@media screen and (max-width: 850px) {
    #text {
        font-size: 5.5em;
    }
}

@media screen and (max-width: 750px) {
    #text {
        font-size: 5em;
    }
}

@media screen and (max-width: 630px) {
    #text {
        font-size: 4em;
    }
}

@media screen and (max-width: 500px) {
    #text {
        font-size: 3.5em;
    }
}


/*---------- Presentacion ----------*/

.presentacion {
    position: relative;
    width: 100%;
    height: 70%;
    background-image: url("../img/lineasOptimized.jpg");
    background-size: cover;
    padding: 12% 0%;
}

.presentacion .textoPresentacion {
    display: inline-block;
    text-align: center;
    padding: 3%;
    color: white;
    font-size: 1em;
    line-height: 250%;
    background-color: #ba9a69ec;
    border-radius: 0 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    letter-spacing: 2px;
}

.presentacion .textoPresentacion span {
    font-weight: bold;
    color: #324146;
    text-shadow: none;
}


/*---------- presentacion media queries ----------*/

@media screen and (max-width: 920px) {
    .presentacion .textoPresentacion {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 771px) {
    .presentacion .textoPresentacion {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 580px) {
    .presentacion {
        padding: 12% 5%;
    }
    .presentacion .textoPresentacion {
        font-size: 0.6em;
    }
}


/*---------- Cards ----------*/

.contenido {
    position: relative;
    padding-bottom: 3rem;
}

.cards {
    position: relative;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    max-width: 250px;
    height: 215px;
    background: #ba9a69;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 350px;
}

.container .card:hover+.card a i {
    visibility: visible;
}

.container .card a {
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-right: 10%;
}

.container .card .animate__fadeIn {
    -webkit-animation-duration: 2s;
}

.container .card a i {
    color: black;
    font-size: 5em;
    visibility: hidden;
}

.container .card a i:hover {
    color: white;
}

.container .card .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
    top: -60px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 0px 5px;
    text-align: center;
    color: black;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.container .card .content h2 {
    font-size: 1.2rem;
}

.container .card .content p {
    font-size: 0.9rem;
}


/*---------- Sobre mi ----------*/

.sobreMi {
    width: cover;
    height: 77vh;
    margin: 10% 0;
    background-image: url("../img/sobreMiOptimized.jpg");
    padding: 3% 0% 3% 5%;
}

.textoSobreMi {
    background-color: rgba(255, 255, 255, 0.87);
    text-align: center;
    padding: 5% 3%;
    line-height: 2rem;
    color: #374e2f;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.textoSobreMi span {
    font-weight: bold;
    color: #ba9a69;
}

.textoSobreMi i {
    font-size: 1.3em;
}


/*---------- sobreMi media queries ----------*/

@media screen and (max-width: 920px) {
    .textoSobreMi {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 580px) {
    .textoSobreMi {
        font-size: 0.6em;
    }
}


/*---------- Form ----------*/

.row-form {
    width: 100%;
    margin-bottom: 5%;
}

.row-form .col-md-5 {
    background: #324146;
    padding: 2% 3%;
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 1px;
}

.row-form form .form-control {
    font-size: 1em;
}

.main__contacto__form button {
    float: right;
    border-radius: 4px;
    border-color: #ba9a69;
    background-color: #ba9a69;
}

.main__contacto__form button:hover {
    background-color: #584932;
    border-color: #584932;
}


/*---------- form media queries ----------*/

@media screen and (max-width: 580px) {
    .row-form .col-md-5,
    .row-form .col-md-3 {
        margin: 0% 3% 0% 14%;
    }
    .row-form .col-md-5 {
        font-size: 0.7em;
    }
    .row-form form .form-control {
        font-size: 0.9em;
    }
    .main__contacto__form button {
        font-size: 0.8em;
    }
}


/*---------- Footer ----------*/

footer {
    background-color: #ba9a69;
    padding: 2%;
    height: max-content;
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 0.9em;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #324146;
}

.footer-copyright {
    line-height: 160%;
}

.footer-copyright a {
    color: #324146;
}

.footer-copyright a:hover {
    text-decoration: none;
    font-weight: bold;
}

footer .main__contacto__form {
    color: #324146;
    letter-spacing: 1px;
}

footer form .form-control {
    font-size: 0.9em;
}

footer form .btn {
    font-size: 1em;
    margin-top: -3%;
    border: solid #324146 1px;
}


/*---------- footer media queries ----------*/

@media screen and (max-width: 920px) {
    footer {
        padding-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    footer form .btn {
        margin-top: 0%;
    }
}

@media screen and (max-width: 700px) {
    footer {
        padding-left: 10%;
    }
}

@media screen and (max-width: 580px) {
    footer {
        padding: 10%;
    }
}